.header {
  display: flex;
  justify-content: space-between;
  margin: 10px;
  border: 1.5px solid black;
}
.navitems ul {
  list-style-type: none;
  display: flex;
}
.navitems ul li {
  padding: 15px;
  margin-top: 10px;
}
.logoimg {
  width: 120px;
  height: 80px;
  padding: 10px;
}
.restorant-list {
  display: flex;
  flex-wrap: wrap;
}
.card {
  width: 200px;
  height: 300px;
  border: 1.5px solid black;
  padding: 10px;
  margin: 5px;
  font-size: 1.1vw;
  font-weight: 400;
  border-radius: 10px;
}
.card img {
  width: 100%;
  height: 50%;
  border-radius: 10px 10px 0px 0px;
}
.card h2 {
  font-size: 1.3vw;
  font-weight: 700;
  margin-bottom: 10px;
}
.card h3 {
  font-size: 1vw;
  font-weight: 500;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.card h4 {
  margin-top: 10px;
  font-size: 1.1vw;
  font-weight: 700;
}
.shimmer-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: 2.5%;
}
.shimmer-card {
  width: 220px;
  height: 250px;
  margin: 15px;
  border-radius: 10px;
  border: 2px solid rgb(148, 148, 148);
}
.shimmer-img {
  width: 90%;
  height: 50%;
  margin: 10px;
  background-color: rgb(148, 148, 148);
  border-radius: 10px 10px 0px 0px;
}
.shimmer-h2 {
  width: 90%;
  height: 10%;
  margin: 10px;
  background-color: rgb(205, 205, 205);
  border-radius: 10px;
}
.shimmer-h3 {
  width: 90%;
  height: 10%;
  margin: 10px;
  background-color: rgb(205, 205, 205);
  border-radius: 10px;
}
.errorimg {
  position: absolute;
  width: 98%;
  height: 97%;
  overflow: hidden;
}
