.header {
  display: flex;
  justify-content: space-between;
  margin: 10px;
  border: 1.5px solid black;
}
.navitems ul {
  list-style-type: none;
  display: flex;
}
.navitems ul li {
  padding: 15px;
  margin-top: 10px;
}
.logoimg {
  width: 120px;
  height: 80px;
  padding: 10px;
}
.restorant-list {
  display: flex;
  flex-wrap: wrap;
}
.card {
  width: 200px;
  height: 300px;
  border: 1.5px solid black;
  padding: 10px;
  margin: 5px;
  font-size: 1.1vw;
  font-weight: 400;
}
.card img {
  width: 100%;
  height: 50%;
}
.card h2 {
  font-size: 1.3vw;
  font-weight: 700;
  margin-bottom: 10px;
}
.card h3 {
  font-size: 1vw;
  font-weight: 500;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.card h4 {
  margin-top: 10px;
  font-size: 1.1vw;
  font-weight: 700;
}
