.header {
  display: flex;
  justify-content: space-between;
  margin: 10px;
  border: 1.5px solid black;
}
.navitems ul {
  list-style-type: none;
  display: flex;
}
.navitems ul li {
  padding: 15px;
  margin-top: 10px;
}
.logoimg {
  width: 120px;
  height: 80px;
  padding: 10px;
}
.restorantlist {
  display: flex;
  flex-wrap: wrap;
}
.card {
  width: 200px;
  border: 1.5px solid black;
  padding: 10px;
  margin: 5px;
}
.card img {
  width: 100%;
}
